.mainborderpane {
}

.photooverview-pane {
}

.testbox {
}

.button {
    -fx-background-radius: 0.5em;
    -fx-padding: 10,10,10,10;
}

.button:hover {
    -fx-background-color: lightgray ;
}

.button:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color; 
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

.btn-sidebar {
    -fx-pref-width: 200;
}

#leftvbox {
    -fx-pref-width: 1000;
    -fx-padding: 5 5 5 5;
}

.tilepane {
    -fx-background-color: black;
}

#innerhbox {
    -fx-spacing: 15;
}

#rightvbox {
    -fx-pref-width: 200;
    -fx-padding: 5 5 5 5;
    -fx-spacing: 15;
}

#rightvbox .button {
    -fx-pref-width: 180;
    -fx-pref-height: 54;
} 


